exportPattern("^[[:alpha:]]+")
import(Seurat)
import(SeuratDisk)
import(patchwork)
import(multtest)
import(ggplot2)
import(cowplot)
import(enrichR)
import(gridExtra)
import(ggpubr)
import(RColorBrewer)
import(crank)
import(KEGGREST)
import(GO.db)
import(rWikiPathways)
import(ReactomeContentService4R)
import(msigdb)
import(riverplot)
import(CellChat)
import(dplyr)
import(rvest)
import(stringr)
import(tidyr)
